* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Rubik",sans-serif;
}

/*header*/
div.aboutWrapper{
    width: 100%;
    /* height: 100vh; */
}

div.aboutHeader{   
    background-image: url(./imgs/about-bg.jpg);
    width: 100%;
    height: 26.375em;    
}

/*TOP COM HASHTAG E BOTOES*/
section.header{             
    width: 95vw;
    height: 80px;
    opacity: 1;
    padding: 0 16px;
   /* position: fixed; /*PARA DEIXAR O TOPO FIXO NA TELA*/
    margin: 0;    
}

div.headerContent{    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 div.headerLogo{
    margin-left: 64px;
    width: 239px;
    height: 42px;
}

/*TAMANHO DO LOGO HASHTAG FINDER*/
img.logoWhite{ 
    width: 100%;
    height: 100%;
}

/*alinhamento botoes */
div.headerButtons{ 
    height: 100%;
    display: flex;
    align-items: center;
}

/* BOTOES */
div.headerButtons button{ 
    border-radius: 25px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* IMAGEM DO BOTAO */
div.headerButtons button img{ 
    width: 13px;
    height: 13px;
    margin-right: 8px;
}

button.aboutBtn{
    background: #D842BD;
    color: #fff;
    margin-right: 13px;
    cursor: pointer;
}

button.aboutBtnLogin{
    background: #3633f7;
    color: #fff;
    cursor: pointer;
}

 /*ESCRITA NO TOPO SOBRE PROJETO*/
h1.aboutProject{
    color: #ffff;
    font-size: 5.625em;
    margin-top: 8.25rem;
    padding-left: 8.75rem;
}

/*descrição do projeto projeto TEXTO LOREMIPSIM*/
div.aboutAside{
    width: 35.8125em;
    margin-right: 4vw;
}

/*O QUE É*/
div.aboutAside h3{
    color: #3634F7;
    margin-top: 0;
    font-size: 2.75em;
    margin-bottom: 1.5625rem;
}

div.aboutAside p{
    text-align: left;
    letter-spacing: 0px;
    color: #292929;
    font-size: 1.5625em;
}

div.aboutText{
    padding-top: 12.0625rem;
    text-align: left;
    /* width: 96.625rem; */
    align-items: flex-start;
    margin: 0 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img.aboutSvg {
    width: 39.75rem;
    margin-left: 5vw;
}

/*quem somos nós*/
h1.aboutWe{
  
    padding-top: 12.0625rem;
    color: #3634F7;
    font-size: 2.75em;
    padding-bottom: 4.125rem;
    width: 96.625rem;
    margin: 0 auto;
}

div.wrapperPhoto{ /*CONTAINER DOS CARTOES*/    
    padding-bottom: 10.3125rem;
    width: 108rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.aboutTeam{
    margin-right: 1rem;
}

/*cards da equipe*/
div.aboutCard{
    width: 19rem;
    box-shadow: 0 5px 10px rgb(85 56 238 / 8%);
    border-radius: 10px;
    border: 1px solid rgba(85,56,238,.1411764705882353);
    height: 32.8125rem;
}

div.about-team-content{
    width: 19.25rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

div.aboutPhoto{
    height: 12.6875rem;
    width: 12.6875rem;
    margin-bottom: 1.5625rem;
    margin-top: 2.5rem;
    border-radius: 100%;
    box-shadow: rgb(85 56 238 / 10%) 7px 23px 6px -13px;
    background-color: rgb(255, 255, 255)
}

div.aboutPhoto img{
    width: 100%;
    border: 1px solid #5538EE24;
    border-radius: 100%;
    height: 100%;
}

div.aboutCard h2{
    color: #292929;
    font-size: 2em;
    margin-top: 0;
    text-align:left;
    margin-bottom: 1.5625rem;
}

div.aboutCard p{
    color: #292929;
    margin-top: 0;
    font-size: 1.1875rem;
    height: 5.625em;
    text-align: center;
    margin-bottom: 1.75rem;
    letter-spacing: 0.23px;
}

div.aboutSocials{
    display: flex;
    width: 100%;
    justify-content: center;
}

div.aboutSocials img{
    font-size: 1.5625rem;   
    margin-right: 2.0625rem;
}

footer.footer {
    position: relative;
    bottom: 0;
    background-color: #D842BD;
    color: white;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERY */

@media (min-width: 660px){

    html{
        font-size: .833vw;
    }

    .header .headerContent .headerButtons button{
    width: 70px;
    }
    
    .header .headerContent .headerButtons .aboutBtn{
        margin-right: 13px;
        font-size: 13px;
        width: 106px;
        height: 30px;
    }

    .header .headerContent .headerButtons .aboutBtnLogin{
        font-size: 13px;
        width: 106px;
        height: 30px;
    }
}

/* MEDIA TABLET */
@media (max-width: 1050px) {
    

    

}

@media (max-width: 660px){

    /* reponsividade header*/
    div.aboutHeader {
        background-image: url(./imgs/about-bg.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 40vh;
    }

    /* box com logo e botões */
    section.header {
        padding: 0;
    }

    /* box com a logo */
    div.headerLogo {
        display: flex;
        align-items: left;
        margin: 8vw;
    }

    /* botão sobre */
    .header .headerContent .headerButtons .aboutBtn{    
        margin-right: 13px;
        font-size: 12px;
        width: 20vw;
        height: 30px;
    }
    
    /* botão login */
    .header .headerContent .headerButtons .aboutBtnLogin{
        font-size: 12px;
        width: 20vw;
        height: 30px;
    }

    /* logo */
    img.logoWhite {
        width: 40vw;
    }

    /* título sobre o porjeto */
    h1.aboutProject {
        margin-top: 8vh;
        padding: 0;
        font-size: 50px;
        display: flex;
        justify-content: center;
    }

    /* reponsividade descrição do projeto*/
    div.aboutText {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    div.aboutAside {
        margin: 4vh 0;
        padding: 0 4vw;
        width: 100%;
    }

    /* .aboutAside h3{
        font-size: 1.6875em;
        margin-bottom: 0.9375rem;
    } */

    div.aboutAside h3 {
        font-size: 24px;
    }

    div.aboutAside p {
        width: 100%;
        font-size: 14px;
    }

    img.aboutSvg {
        width: 80vw;
        height: 50vh;
        margin: 2vh 0 0 0;
    }

    /*reponsividade seção quem somos nós*/
    h1.aboutWe {
        width: 100%;
        font-size: 24px;
        padding: 6vh 5vw;
    }

    /*reponsividade cards equipe*/

    /*EMBRULHO FOTOS*/
    div.wrapperPhoto {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    div.aboutTeam{
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .aboutCard{
        width: 100%;
        margin-right: 0px;
        height: initial;    
        margin-bottom: 2.875rem;
    }

    .aboutPhoto{
        height: 11.375rem;
        width: 11.375rem;
        margin-top: 2.25rem;
        margin-bottom: 1.375em;
    }

    .aboutCard h2{
        font-size: 28px;
        margin-bottom: 24px;
    }

    .aboutSocials{
        padding-bottom: 37px;
    }

    .aboutSocials img{
        font-size: 27px;
        margin-right: 30px;
    }
}

@media screen and (min-width: 1024px){
   
    .header .headerContent .headerLogo{
      width: 210px;
      height: 30px;
    }
   
    .header .headerContent .headerButtons button img{
      width: 13px;
      height: 13px;
    }
    
    .header .headerContent .headerButtons .aboutBtn{
      width: 170px;
      height: 49px;
      font-size: 17px;
      margin-right: 35px;
    }
      
    .header .headerContent .headerButtons .aboutBtnLogin{
      width: 170px;
      height: 49px;
      font-size: 17px;
          
    }
}


/* MEDIA MOBILE */
@media (max-width: 414px) {

    /* reponsividade header*/
    div.aboutHeader {
        height: 30vh;
    }

    /* box com logo e botões */
    section.header {
        padding: 0;
    }

    /* box com a logo */
    div.headerLogo {
        display: flex;
        align-items: left;
        margin: 8vw;
    }

    div.headerContent {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* botão sobre */
    .header .headerContent .headerButtons .aboutBtn{    
        margin-right: 13px;
        font-size: 10px;
        width: 22vw;
        height: 30px;
    }
    
    /* botão login */
    .header .headerContent .headerButtons .aboutBtnLogin{
        font-size: 10px;
        width: 22vw;
        height: 30px;
    }

    /* título sobre o porjeto */
    h1.aboutProject {
        font-size: 30px;
    }

}

