@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}

div.containerBody {
    position: relative;
    top: 24vh;
}


/* FOOTER */

footer.footer {
    position: absolute;
    top: 14vh;
    background-color: #D842BD;
    color: white;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MEDIA TABLET */

@media (max-width: 1050px) {
    .footer {
        height: 12vh;
        font-size: 12px;
    }
}

@media (max-width: 414px) {
    .footer {
        height: 10vh;
        font-size: 10px;
    }
}