@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}


/* HEADER DO BANNER */

header.banner {
    background-image: url(./imgs/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    width: 100%;
}


/* MENU TOPO FIXO NO BANNER */

div.topFixed {
    padding: 36px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/* MENU TOPO QUE ROLA COM O SCROLL */

div.topUnfixed {
    position: fixed;
    top: 0;
    padding: 1% 3% 1% 3%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
}


/* BOTÃO SOBRE */

button.aboutButton {
    width: 13vw;
    height: 7vh;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.55px;
    background-color: #D842BD;
    border: 1px solid #D842BD;
    border-radius: 50px;
    margin-right: 3vw;
    cursor: pointer;
}


/* BOTÃO LOGIN */

button.loginButton {
    width: 13vw;
    height: 7vh;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.55px;
    background-color: #3633F7;
    border: 1px solid #3633F7;
    border-radius: 50px;
    cursor: pointer;
}


/* ÍCONES DOS BOTÕES SOBRE E LOGIN */

img.logoSobre,
img.logoLogin {
    padding-right: 4px;
    height: 0.7rem;
}

.linkRoute {
    text-decoration: none;
}


/* CAIXA DE TEXTO DO BANNER */

div.textBox {
    margin: 10% 45% 15% 10%;
}

h1 {
    color: white;
    font-family: 'Rubik Regular 400', sans-serif;
    font-size: 60px;
}

p.subtitle {
    color: white;
    font-size: 22px;
}


/* CAIXA DO SEARCH BAR */

div.inputDiv {
    position: absolute;
    bottom: 1vh;
    left: 4vw;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form.form {
    position: absolute;
    bottom: 1vh;
    left: 4vw;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ÍCONE DA LUPA DA SEARCH BAR */

img.logoSearch {
    height: 20px;
    position: relative;
    left: 4vw;
    z-index: 2;
}


/* SEARCH BAR */

input.searchBar {
    width: 50%;
    height: 8vh;
    border: none;
    box-shadow: 8px 14px 30px #5538EE29;
    border-radius: 72px;
    z-index: 1;
    color: #8D9DA2;
    font-size: 22px;
    padding-left: 6%;
}


/* LIMITE DE CARACTERES */

span.limitCaracteres {
    position: relative;
    right: 4vw;
    z-index: 2;
    color: #D842BD;
    font-size: 16px;
    padding: 0.5%;
    border: 1px solid #D842BD;
    border-radius: 50%;
}


/* MENSAGEM DE VALIDAÇÃO */

div.validation {
    position: relative;
    bottom: 1vh;
    padding-top: 2vh;
    padding-left: 32vw;
    font-size: 16px;
    color: black;
}

div.container {
    height: 600px;
}


/* FOOTER */

.footer {
    position: relative;
    bottom: 0;
    background-color: #D842BD;
    color: white;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchTitle {
    color: #3633F7;
    opacity: 1;
    font: normal normal bold 32px/35px Rubik;
    margin-top: 10vh;
    margin-bottom: 8vh;
    text-align: center;
}

.carouselImages {
    margin-left: 3rem;
    margin-right: 3rem;
}

.resultImage {
    border-radius: 21px;
    box-shadow: 0px 9px 27px #5538EE29;
}

.postBox {
    display: flex;
    height: 253px;
    width: 735px;
    border: 2px solid red;
    margin: 3rem;
    flex-wrap: wrap;
    border: 1px solid #5538ee24;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #5538EE14;
    border-radius: 15px;
    opacity: 1;
}

.postImg {
    height: 82px;
    width: 82px;
    border-radius: 50px;
    margin-left: 5vh;
    margin-top: 2vh;
}

.postContainer {
    display: flex;
    justify-content: space-between;
    margin: 6rem;
}

.postUser {
    margin-left: 2vh;
    margin-top: 2vh;
    font-size: 32px;
    letter-spacing: 0px;
    color: #292929;
}

.postUsername {
    margin-left: 1vh;
    margin-top: 3vh;
    font-size: 20px;
    letter-spacing: 0px;
    color: #292929;
    opacity: 0.43;
}

.postText {
    width: 400px;
    position: absolute;
    margin-top: 8vh;
    margin-left: 18vh;
    word-break: break-all;
}

.postLink {
    width: 185px;
    position: absolute;
    margin-left: 18vh;
    margin-top: 20vh;
    letter-spacing: 0px;
    color: #3634F7;
}


/* AJUSTES POST BOX - RESPONSIVE */

@media (max-width: 1500px) {
    .postText {
        width: 300px;
    }
}

@media (max-width: 1350px) {
    .postContainer {
        flex-direction: column;
    }
    .postBox {
        margin-left: 20vh;
    }
    .postText {
        width: 400px;
    }
}


/* MEDIA TABLET */

@media (max-width: 1050px) {
    .postContainer {
        flex-direction: column;
    }
    .postBox {
        margin-left: 0;
    }
    .postUsername {
        margin-left: 2vh;
        margin-top: 4vh;
    }
    .postText {
        margin-left: 24vh;
        margin-top: 11vh;
    }
    .postLink {
        margin-left: 24vh;
        margin-top: 26vh;
    }
    header.banner {
        background-image: url(./imgs/hero-bg-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        width: 100%;
    }
    div.topFixed {
        width: 100%;
        padding: 36px 16px 0 16px;
    }
    div.topUnfixed {
        padding: 2% 3% 2% 3%;
    }
    img.logo {
        width: 40vw;
    }
    button.aboutButton {
        width: 22vw;
        height: 5vh;
        margin-right: 13px;
        font-size: 16px;
    }
    button.loginButton {
        width: 22vw;
        height: 5vh;
        font-size: 16px;
    }
    img.logoSobre,
    img.logoLogin {
        height: 0.6rem;
    }
    div.textBox {
        margin: 10% 10% 15% 10%;
    }
    h1 {
        font-size: 40px;
    }
    p.subtitle {
        font-size: 20px;
    }
    div.inputDiv {
        position: relative;
        bottom: 7vh;
        left: 4vw;
    }
    form.form {
        position: relative;
        bottom: 2vh;
        left: 4vw;
    }
    img.logoSearch {
        height: 15px;
        top: 2.8vh;
        left: 5vw;
    }
    input.searchBar {
        width: 80%;
        height: 7vh;
        margin-top: 6vh;
        z-index: 1;
        font-size: 16px;
        padding-left: 8%;
    }
    span.limitCaracteres {
        right: 7vw;
        top: 2.8vh;
    }
    /* MENSAGEM DE VALIDAÇÃO */
    div.validation {
        padding-top: 0;
        padding-left: 28vw;
        bottom: 2vh;
    }
    .footer {
        height: 12vh;
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    .postBox {
        display: flex;
        height: 253px;
        width: 100%;
        border: 2px solid red;
        margin: 0;
        margin-bottom: 4rem;
        flex-wrap: wrap;
        border: 1px solid #5538ee24;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 10px #5538EE14;
        border-radius: 15px;
        opacity: 1;
    }
    .postUser {
        font-size: 28px;
    }
    .postText {
        margin-left: 18vw;
        width: 50%;
    }
    .postContainer {
        margin-left: 0;
        align-items: inherit;
        margin-left: 50px;
    }
    .postLink {
        margin-left: 15vh;
        margin-top: 26vh;
    }
    .postUsername {
        margin-left: 18vh;
        margin-top: 7vh;
        position: absolute;
        font-size: 16px;
        letter-spacing: 0px;
        color: #292929;
        opacity: 0.43;
    }
}

@media (max-width: 442px) {
    .postContainer {
        align-items: center;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    img.postImg {
        margin-top: 2vh;
        margin-left: 4vw;
    }
    div.postUser {
        margin-top: 2vh;
    }
    div.postUsername {
        margin-top: 6vh;
        margin-left: 26vw;
    }
    div.postText {
        margin-top: 10vh;
        margin-left: 26vw;
        width: 60%;
    }
    div.postLink {
        margin-top: 26vh;
        margin-left: 26vw;
    }
    .postBox {
        align-items: flex-start;
        margin-left: 0;
    }
}


/* MEDIA MOBILE */

@media (max-width: 414px) {
    header.banner {
        height: 70vh;
    }
    div.topFixed {
        width: 100%;
        padding: 36px 16px 0 16px;
    }
    div.topUnfixed {
        padding: 3% 3% 3% 3%;
    }
    img.logo {
        width: 130px;
    }
    button.aboutButton {
        width: 20vw;
        height: 4vh;
        margin-right: 6px;
        font-size: 8px;
    }
    button.loginButton {
        width: 20vw;
        height: 4vh;
        font-size: 8px;
    }
    img.logoSobre,
    img.logoLogin {
        height: 0.5rem;
    }
    div.textBox {
        margin: 10% 10% 15% 10%;
    }
    h1 {
        font-size: 34px;
    }
    p.subtitle {
        font-size: 16px;
    }
    div.inputDiv {
        bottom: 1vh;
    }
    form.form {
        bottom: 1vh;
    }
    img.logoSearch {
        height: 15px;
        top: 2.4vh;
        left: 7vw;
    }
    input.searchBar {
        width: 80%;
        height: 7vh;
        margin-top: 5vh;
        font-size: 16px;
        padding-left: 10%;
    }
    span.limitCaracteres {
        font-size: 12px;
        right: 10vw;
        top: 2.5vh;
    }
    /* MENSAGEM DE VALIDAÇÃO */
    div.validation {
        color: red;
        padding-top: 0.5vh;
        font-size: 14px;
        bottom: 1vh;
    }
    .footer {
        height: 10vh;
        font-size: 10px;
    }
}