/* IMPORT DA FONTE RUBIK (GOOGLE) */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

/* CONFIGURAÇÕES GLOBAIS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}


/* TESTE MANUAL */

div.itemContainer {
    width: 100%;
}

div.itemOrganizer {
    display: flex;
    overflow-x: auto;
}

div.item {
    flex: none;
    background-image: url(./imgs/giovani.jpeg);
}


/* AJUSTES CAROUSEL */

.carousel {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
}

.postResultsImages {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: flex-start;
    /* padding-bottom: 120px;
    margin-top: 100px; */
    margin: 0;
    padding: 0;
}

.imageContainer {
    width: 100%;
    height: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
}

.imageContent {
    border-radius: 21px;
    box-shadow: 0px 9px 27px #5538EE29;
    width: 100%;
    height: 100%;
}


/* MODAL IMAGES */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.modalContainer {
    width: 80vw;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    left: 10vw;
    top: 120px;
    border-radius: 30px;
    z-index: 5;
}

.modalContainer .modalContent {
    width: 100%;
    padding-bottom: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    position: relative;
}

.modalContainer .modalContent .close {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    color: #72EFDB;
    top: 15px;
    right: 20px;
    text-shadow: 0px 0px 10px black;
}


/* HEADER DO BANNER */

header.banner {
    background-image: url(./imgs/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 0;
}


/* CAIXA DE TEXTO DO BANNER */

div.textBox {
    margin: 15% 45% 15% 10%;
}

h1 {
    color: white;
    font-family: 'Rubik Regular 400', sans-serif;
    font-size: 60px;
}

p.subtitle {
    color: white;
    font-size: 22px;
}

div.containerInput {
    margin-top: 69vh;
}

.backdrop,
.postResultSelect {
    display: none;
}


/* CAIXA DO SEARCH BAR */

div.inputDiv {
    position: relative;
    top: 26vh;
    bottom: 0vh;
    left: 4vw;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form.form {
    position: absolute;
    bottom: 1vh;
    left: 4vw;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ÍCONE DA LUPA DA SEARCH BAR */

img.logoSearch {
    height: 20px;
    position: relative;
    left: 4vw;
    z-index: 2;
}


/* SEARCH BAR */

input.searchBar {
    width: 50%;
    height: 8vh;
    border: none;
    box-shadow: 8px 14px 30px #5538EE29;
    border-radius: 72px;
    z-index: 1;
    color: #8D9DA2;
    font-size: 22px;
    padding-left: 6%;
}

input.searchBar:focus {
    outline: none;
}


/* LIMITE DE CARACTERES */

span.limitCaracteres {
    position: relative;
    right: 4vw;
    z-index: 2;
    color: #D842BD;
    font-size: 16px;
    padding: 0.5%;
    border: 1px solid #D842BD;
    border-radius: 50%;
}


/* MENSAGEM DE VALIDAÇÃO */

div.validationError {
    position: absolute;
    bottom: 2.8vh;
    left: 32vw;
    width: 40%;
    margin-top: 1vh;
    padding: 0;
    color: red;
    padding-top: 0.5vh;
    font-size: 1.7rem;
}

div.validationLimit {
    position: absolute;
    bottom: 0;
    left: 32vw;
    width: 40%;
    margin-top: 1vh;
    padding-top: 1vh;
    color: red;
    padding-top: 0.5vh;
    font-size: 1.7rem;
}

p.errorMessage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5rem;
    /* background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px); */
}

div.containerBody {
    position: relative;
    top: 24vh;
}


/* TÍTULO DA PESQUISA */

h2.searchTitle {
    color: #3633F7;
    font: normal normal bold 32px/35px 'Rubik';
    margin-top: 35vh;
    margin-bottom: 1vh;
    text-align: center;
}


/* DIV QUE CONTÉM TODOS OS BOXES DOS TWEETS */

div.postContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3rem 1rem;
}


/* BOX QUE CONTÉM O TWEET */

div.postBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 22vh;
    width: 42%;
    margin: 2rem 0;
    border: 1px solid #5538ee24;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #5538EE14;
    border-radius: 15px;
}


/* ÍCONE DO USUÁRIO */

div.divImgTweet {
    width: 20vh;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.postImg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    margin: 2vh 2vw;
}


/* CAIXA DE TEXTO COM USER, TWEET E LINIK */

div.textBoxTweet {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


/* CAIXA COM USERNAME E NOME */

div.userBoxTweet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


/* NOME DO USUÁRIO */

div.postUser {
    font-size: 24px;
    letter-spacing: 0px;
    color: #292929;
    align-content: flex-start;
}


/* USERNAME */

div.postUsername {
    margin-left: 1vh;
    padding-right: 2vw;
    font-size: 18px;
    letter-spacing: 0px;
    color: #292929;
    opacity: 0.43;
}


/* TEXTO DO TWEET */

div.postText {
    width: 95%;
    margin-top: 1vh;
    word-break: break-all;
}


/* LINK DO TWEET */

a.postLink {
    width: fit-content;
    margin-top: 2vh;
    letter-spacing: 0px;
    font-weight: bold;
    color: #3634F7;
    cursor: pointer;
}


/* AJUSTES POST BOX - RESPONSIVE */

@media (max-width: 1350px) {
    div.postBox {
        height: 22vh;
        width: 40%;
    }
    div.postUser {
        font-size: 1.9rem;
    }
    div.postUsername {
        font-size: 1.8rem;
    }
    div.postText {
        font-size: 1.2rem;
    }
    a.postLink {
        font-size: 1rem;
    }
}


/* MEDIA TABLET */

@media (max-width: 1050px) {
    div.postContainer {
        flex-direction: column;
        margin: 3rem 3rem;
    }
    div.postBox {
        margin-left: 0;
        width: 100%;
    }
    div.postUser {
        font-size: 1.1rem;
    }
    div.postUsername {
        font-size: 1rem;
    }
    div.postText {
        font-size: 0.8rem;
    }
    a.postLink {
        font-size: 0.8rem;
    }
    header.banner {
        background-image: url(./imgs/hero-bg-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        width: 100%;
    }
    div.textBox {
        margin: 22% 10% 15% 10%;
    }
    h1 {
        font-size: 40px;
    }
    p.subtitle {
        font-size: 20px;
    }
    div.containerInput {
        margin-top: 50vh;
    }
    div.inputDiv {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
    }
    form.form {
        position: relative;
        bottom: 2vh;
        left: 4vw;
    }
    img.logoSearch {
        height: 15px;
        top: 2.8vh;
        left: 5vw;
    }
    input.searchBar {
        width: 80%;
        height: 7vh;
        margin-top: 6vh;
        z-index: 1;
        font-size: 16px;
        padding-left: 8%;
    }
    span.limitCaracteres {
        right: 7vw;
        top: 2.8vh;
    }
    /* MENSAGEM DE VALIDAÇÃO */
    div.validationError {
        position: absolute;
        bottom: 35vh;
        left: 14vw;
        width: 35%;
        margin: 0;
        padding: 0;
        color: red;
        font-weight: bold;
        padding-top: 0.5vh;
        font-size: 14px;
    }
    div.validationLimit {
        position: absolute;
        bottom: 32vh;
        left: 19vw;
        width: 35%;
        margin: 0;
        padding: 0;
        color: red;
        font-weight: bold;
        padding-top: 0.5vh;
        font-size: 14px;
    }
    p.errorMessage {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        border-radius: 5rem;
        /* background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px); */
    }
    h2.searchTitle {
        font-size: 26px;
        margin: 20vh 5vw 0 5vw;
    }
    /* ÍCONE DO USUÁRIO */
    div.divImgTweet {
        width: 20vh;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img.postImg {
        background-size: cover;
        background-repeat: no-repeat;
        height: 70px;
        width: 70px;
        border-radius: 50px;
        margin: 2vh 2vw;
    }
}


/* AJUSTE DA VALIDAÇÃO  */

@media (max-width: 700px) {
    div.validationError {
        width: 55%;
    }
    div.validationLimit {
        width: 55%;
    }
}

@media (max-width: 442px) {
    div.postContainer {
        flex-direction: column;
        margin: 3rem 1rem;
    }
    div.postBox {
        margin-left: 0;
        width: 100%;
    }
    img.postImg {
        height: 60px;
        width: 60px;
        margin: 1vh 1vw;
    }
    div.postUser {
        font-size: 0.9rem;
    }
    div.postUsername {
        font-size: 0.6rem;
    }
    div.postText {
        font-size: 0.7rem;
    }
    a.postLink {
        font-size: 0.7rem;
    }
}


/* MEDIA MOBILE */

@media (max-width: 414px) {
    header.banner {
        height: 70vh;
    }
    div.textBox {
        margin: 30% 10% 15% 10%;
    }
    h1 {
        font-size: 34px;
    }
    p.subtitle {
        font-size: 16px;
    }
    div.containerInput {
        margin-top: 46vh;
    }
    div.inputDiv {
        bottom: 0;
    }
    form.form {
        bottom: 1vh;
    }
    img.logoSearch {
        height: 15px;
        top: 2.4vh;
        left: 7vw;
    }
    input.searchBar {
        width: 80%;
        height: 7vh;
        margin-top: 5vh;
        font-size: 16px;
        padding-left: 10%;
    }
    span.limitCaracteres {
        font-size: 12px;
        right: 10vw;
        top: 2.5vh;
    }
    h2.searchTitle {
        margin: 20vh 5vw 0 5vw;
    }
    /* MENSAGEM DE VALIDAÇÃO  */
    div.validationError {
        position: absolute;
        bottom: 40vh;
        left: 22vw;
        width: 55%;
        margin: 0;
        padding: 0;
        color: red;
        font-weight: normal;
        padding-top: 0.5vh;
        font-size: 14px;
    }
    div.validationLimit {
        position: absolute;
        bottom: 36vh;
        left: 22vw;
        width: 55%;
        margin: 0;
        padding: 0;
        color: red;
        font-weight: normal;
        padding-top: 0.5vh;
        font-size: 14px;
    }
    p.errorMessage {
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        border-radius: 5rem;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
    }
}