* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

.containerLogin {
        display: flex;
        flex-direction: column;
}

/* ---------- BACKGROUND----------  */
.backgroundImg {
    position: fixed;
    height: 100%;
    width: 100%;
}
/* ----------HEADER---------- */
.headerLogin {
    display: flex;
    position: relative;
    justify-content: space-between;
}


.itensHeader {
    margin: 2vw;
}


.butHome {
    background-color: #d842db;
    border-radius: 2vw;
    width: 10vw;
    height: 3vw;
}

.butHome span {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* ----------LOGIN FORM----------  */
.loginBox {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 1vw;
    width: 30vw;
    margin-left: 35vw;
    margin-top: 7vw;
    padding: 4vw 3vw;
    margin-bottom: 10vw;
}


.titleBox {
    color: #3634f7;
}

.formLogin {
    display: flex;
    flex-direction: column;
}

.titleLogin {
    margin: 2vw;
}


.itensLogin {
    width: 22vw;
    margin: 2vw;
    box-shadow: 0px 1px 0px 0px;
    border: 0 none;
    outline: 1;
    height: 50px;
}

.itensLogin::placeholder{
    color: black;
    margin: 2vw;
    font-size: 20px;
    padding: 5px;
}

.buttonLogin {
    color: white;
    background-color: #3634f7;
    border-radius: 2vw;
    width: 9vw;
    height: 3vw;
    font-size: 22px;
}


@media screen and (max-width:1100px) {
    .itensLogin {
        font-size: 20px;
        width: 30vw;
        margin: 2vw;
        box-shadow: 0px 1px 0px 0px;
        border: 0 none;
        outline: 0;
        height: 50px;
        margin: 4vw;
    }

    .itensHeader {
        height: 50px;
    }

    .titleBox {
        font-size: 4vw;
    }

    .buttonLogin {
        width: 20vw;
        height: 6vw;
        font-size: 30px;
        border-radius: 10vw;
        margin-bottom: -2vw;
    }

    .loginBox {
        margin-top: 20vw;
        border-radius: 2vw;
        width: 40vw;
        height: 40vw;
        margin-left: 28vw;
        padding: 4vw 3vw;
        margin-bottom: 10vw;
    }

    .butHome {
        width: 17vw;
        height: 5vw;
        border-radius: 10vw;
    }

    .butHome span {
        font-size: 30px;
    }

    .butHome img {
        height: 20px;
    }
}

button {
    border-style: hidden;
}

/* ---------- VERSAO MOB----------  */
@media screen and (max-width:850px) {

    .butHome {
        border-radius: 6vw;
        width: 25vw;
    }

    .loginBox {
        width: 80vw;
        height: 100vw;
        margin-left: 7vw;
        margin-top: 35vw;
        margin-bottom: 20vw;
    }

    .itensLogin {
        width: 65vw;
        margin: 10vw;
    }

    .titleBox {
        font-size: 10vw;
        margin-bottom: -10px;
    }

    .buttonLogin {
        border-radius: 13vw;
        width: 50vw;
        height: 15vw;
        font-size: 20px;
        margin-top: 4vw;
    }

    .butHome img {
        height: 15px;
    }

    .butHome span {
        font-size: 20px;
    }

    .itensHeader {
        height: 9vw;
    }

    .headerLogin {
        padding: 2vw;
    }
}