/* ---------- BACKGROUND----------  */
body {
    margin: -2vw;
}

.backgroundImg {
    position: absolute;
    display: flex;
    height: 105%;
    width: 105%;
}

/* ----------CONTAINER---------- */
.container {
    margin: 2vw;
}

/* ----------HEADER---------- */
.headerLogin {
    display: flex;
    position: relative;
    justify-content: space-between;

}

.itensHeader {
    margin: 2vw;
}

.butHome {
    background-color: #d842db;
    border-radius: 2vw;
    width: 8vw;
    height: 2vw;

}

.butHome a {
    text-decoration: none;
    color: white;
    font-size: 16px;

}

/* ----------LOGIN FORM----------  */

.loginBox {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 2vw;
    width: 25vw;
    margin-left: 35vw;
    margin-top: 3vw;
    padding: 5vw 3vw;
}

.titleBox {
    color: #3634f7;
}

.formLogin {
    display: flex;
    flex-direction: column;
}

.titleLogin {
    margin: 2vw;
}

.itensLogin {
    width: 20vw;
    margin: 2vw;
    box-shadow: 0px 1px 0px 0px;
    border: 0 none;
    outline: 1;

}

.buttonLogin {
    color: white;
    background-color: #3634f7;
    border-radius: 2vw;
    width: 8vw;
    height: 2vw;
}


@media screen and (max-width:2000px) {
    .itensLogin {
        width: 20vw;
        margin: 2vw;
        box-shadow: 0px 1px 0px 0px;
        border: 0 none;
        outline: 1;
        font-size: 20px;
    }

    .itensHeader {
        margin: 2vw;
        height: 50px;
    }

    .titleBox {
        color: #3634f7;
        font-size: 3vw;
    }

    .buttonLogin {
        color: white;
        background-color: #3634f7;
        border-radius: 2vw;
        width: 12vw;
        height: 4vw;
        font-size: 30px;
    }
    .loginBox {
        margin-top: 6vw;
    }

    .butHome {
        background-color: #d842db;
        border-radius: 2vw;
        width: 10vw;
        height: 4vw;
    }

    .butHome a{
       font-size: 30px;
    }

    .butHome img{
            height: 25px;
    }
}


/* ---------- VERSAO MOB----------  */
@media screen and (max-width:600px) {

    .butHome {
        border-radius: 6vw;
        width: 25vw;
    }

    .loginBox {
        width: 80vw;
        height: 100vw;
        margin-left: 7vw;
        margin-top: 35vw;
    }

    .itensLogin {
        width: 65vw;
        margin: 10vw;

    }

    .buttonLogin {
        color: white;
        background-color: #3634f7;
        border-radius: 13vw;
        width: 50vw;
        height: 15vw;
        font-size: 20px;
        margin-top: 4vw;
    }

    .butHome a {
        text-decoration: none;
        color: white;
    }

    .itensHeader {
        margin: 2vw;
        height: 9vw;
    }

    .headerLogin {
        padding: 2vw;
    }

}