body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    background-image: url(./images_v01/login-bg.jpg);
}

.homeTitle {
    color: white;
    font-size: 35px;
    flex-grow: 1;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 36px 60px 0px 60px;
}

.homeButton {
    width: 170px;
    height: 49px;
    background-color:#D842BD;
    color: white;
    font-family: 'Rubik', bold;
    font-size: 17px;
    border-radius: 30px;
    border-style:hidden;
    margin-right: 35px;
    box-shadow: #5538ee29 0px 3px 6px 0px;
}

.homeButton img {
    margin-right: 5px;
}

.exitButton {
    width: 170px;
    height: 49px;
    background-color:#3633F7;
    color: white;
    font-family: 'Rubik', bold;
    font-size: 17px;
    border-radius: 30px;
    border-style:hidden;
    box-shadow: #5538ee29 0px 3px 6px 0px;
}

.exitButton img {
    margin-right: 5px;
}

/* Lista de hashtags*/

.homeTitle {
    font-size: 19px;
}

.container {
    margin: 40px 183px 85px 184px;
}

.container h1 {
    color: white;
    font-size: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
}


thead th {
    background-color:#F1F1F1;color: #3633F7;
    text-align: center;
    padding: 56px 0px 22px 0px;;
    font-size: 28px;
}

thead th:nth-child(1) {
    text-align: left;
    padding-left: 62px;
}

tbody{
    background-color: white;
    font-size: 24px;
    
}

tbody td {
    padding: 21px 58px 21px 58px;
    border-bottom: 3px solid #F1F1F1;
}

tbody td:nth-child(n+2) {
    color: #D842BD;
}

tbody td:nth-child(1) {
    width: 80%;
}

/* Media versão mobile*/

@media screen and (max-width: 767px) {

    .header {
        margin: 36px 9px 0px 9px;
    }

    .homeButton {
        width: 106px;
        height: 30px;
        font-size: 10px;
    }

    .homeButton img {
        width: 12px;
        height: auto;
        margin-right: 5px;
    }
    
    .exitButton {
        width: 104px;
        height: 30px;
        font-size: 10px;
    }

    .exitButton img {
        width: 12px;
        height: auto;
        margin-right: 5px;
    }

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 9px;
        margin-right: 9px;
    }

    .container h1 {
        font-size: 33px;
    }

    thead th {
        font-size: 17px;
        padding: 18px 0px 11px 0px;
    }

    tbody{
        font-size: 14px;  
    }

    tbody td:nth-child(1) {
        width: 70%;
    }
}