@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}


/* MENU TOPO FIXO NO BANNER */

div.topFixed {
    position: absolute;
    top: 0;
    padding: 36px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/* MENU TOPO QUE ROLA COM O SCROLL */

div.topUnfixed {
    position: fixed;
    top: 0;
    padding: 1% 3% 1% 3%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
}


/* BOTÃO SOBRE */

button.aboutButton {
    width: 13vw;
    height: 7vh;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.55px;
    background-color: #D842BD;
    border: 1px solid #D842BD;
    border-radius: 50px;
    margin-right: 3vw;
    cursor: pointer;
}


/* BOTÃO LOGIN */

button.loginButton {
    width: 13vw;
    height: 7vh;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.55px;
    background-color: #3633F7;
    border: 1px solid #3633F7;
    border-radius: 50px;
    cursor: pointer;
}


/* ÍCONES DOS BOTÕES SOBRE E LOGIN */

img.buttonLogo {
    height: 12px;
    padding-right: 4px;
    padding-top: 1px;
}

.linkRoute {
    text-decoration: none;
}


/* MEDIA TABLET */

@media (max-width: 1050px) {
    div.topFixed {
        width: 100%;
        padding: 36px 16px 0 16px;
    }
    div.topUnfixed {
        padding: 2% 3% 2% 3%;
    }
    img.logo {
        width: 195px;
    }
    button.aboutButton {
        width: 21vw;
        height: 5vh;
        margin-right: 13px;
        font-size: 16px;
    }
    button.loginButton {
        width: 21vw;
        height: 5vh;
        font-size: 16px;
    }
    span.buttonText {
        font-size: 10px;
    }
    img.buttonLogo {
        height: 8px;
        padding-right: 3px;
        padding-top: 1px;
    }
}

@media (max-width: 414px) {
    div.topFixed {
        width: 100%;
        padding: 36px 16px 0 16px;
    }
    div.topUnfixed {
        padding: 3% 3% 3% 3%;
    }
    img.logo {
        width: 130px;
    }
    button.aboutButton {
        width: 20vw;
        height: 4vh;
        margin-right: 6px;
        font-size: 6px;
    }
    button.loginButton {
        width: 20vw;
        height: 4vh;
        font-size: 6px;
    }
    span.buttonText {
        font-size: 7px;
    }
    img.buttonLogo {
        height: 6px;
        padding-right: 3px;
        padding-top: 1px;
    }
}